body {
    font-family: Arial, Helvetica, sans-serif;
}


.ms_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    padding: 200px 25px 25px 25px;
}

.ms_game-logo {
    max-width: 300px;
}

.ms_upcoming-game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    padding: 25px
}

.bgc-1 {
    background-color: #BEBCBB;
}